/* con bootstrap no es necesario normalizar 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: serif;
    font-size: 62.5%;
}
body {
    min-height: 100vh;
}*/

img.card-img-top {
    max-width: 36.8rem;
    min-height: 16.8rem;
    object-fit: cover;
}

footer {
    margin: 0;
    background-color: rgb(230, 229, 229);
    color: #0693A1;
    text-align: center;
    font-size: 0.8rem;

}